
<div class="ui center aligned basic grid">
  <div class="ui five wide column">
    <div class="ui middle aligned divided relaxed list">
      <div *ngFor="let card of cardsArray" class="item">
        <div class="right floated content">

          <!--Delete icon-->
          <a
            [routerLink]="[]"
            >
            <i  class="trash alternate outline large orange icon"></i>
          </a>

          <!--Edit icon-->
          <a
            id="a-edit"
            [routerLink]="['/card/', card.id, 'edit']"
            >
            <i  class="edit outline large orange icon"></i>
          </a>
        </div>
        <div class="left floated content">
          <p>{{ card.front }}</p>
        </div>
      </div>
    </div>

    <!--Add button-->
    <button
      [routerLink]="['/card/', 0, 'edit', {themeId: themeId}]"
      class="ui orange basic fluid button"
    >Agregar Tarjeta
    </button>
  </div>
</div>
