
<div class="ui center aligned basic grid">
  <div class="ui five wide column">

    <h1>Bienvenido</h1>
    <p *ngIf="themesCount; else no_themes_p">
      {{ themesCount }} {{ themesCount | i18nPlural: pluralMapping }}
    </p>
    <ng-template #no_themes_p>
      <p>No hay temas disponibles</p>
    </ng-template>
    <br>
    <button
      *ngIf="themesCount; else no_themes_button"
      [routerLink]="['/themes']"
      class="ui orange basic fluid button"
      >Ver Temas
    </button>
    <ng-template #no_themes_button>
      <button
        [routerLink]="['/theme', 0, 'edit']"
        class="ui orange basic fluid button"
        >Agregar Tema
      </button>
    </ng-template>

  </div>
</div>



