
<div class="ui center aligned basic grid">
  <div class="ui five wide column">


    <form (ngSubmit)="save()" [formGroup]="themeForm">
      <h3>{{ state === 'add' ? 'Agregar Tema' : 'Editar Tema'  }}</h3>
      <div id="theme-input" class="ui action input">
        <input
          formControlName="name"
          type="text"
          placeholder="Nombre del Tema"
        >
        <button
          class="ui orange basic button"
          >{{ state === 'add' ? 'Agregar Tema' : 'Cambiar Nombre'  }}
        </button>
      </div>
    </form>


  </div>
</div>
