
<div class="ui center aligned basic grid">
  <div class="ui five wide column">

    <!--Form-->
    <form (ngSubmit)="save()" [formGroup]="themeForm">
      <h3>{{ state === 'add' ? 'Agregar Tema' : 'Editar Tema'  }}</h3>
      <div id="theme-input" class="ui fluid action input">
        <input
          formControlName="name"
          type="text"
          placeholder="Nombre del Tema"
        >
        <button
          class="ui orange basic button"
          >{{ state === 'add' ? 'Agregar Tema' : 'Cambiar Nombre'  }}
        </button>
      </div>
    </form>

    <!--Add cards button-->
    <button
      [routerLink]="['/cards/', themeId]"
      class="ui orange basic fluid button"
      id="add-cards-button"
      >{{ state === 'add' ? 'Agregar Tarjetas' : 'Ver Tarjetas'  }}
    </button>

    <!--Back to themes button-->
    <button
      [routerLink]="['/themes']"
      class="ui orange basic fluid button"
      id="themes-list-button"
      >Volver a Temas
    </button>

  </div>
</div>
