
<div class="ui center aligned basic grid">
  <div class="ui five wide column">
    <div class="ui middle aligned divided selection list">
      <div *ngFor="let theme of themesArray" class="item">
        <div class="right floated content">
          <div
            [routerLink]="['/theme/', theme.id, 'edit']"
            class="ui orange basic button"
          >Editar
          </div>
          <div
            [routerLink]="['/cards/', theme.id]"
            class="ui orange basic button"
            >Comenzar
          </div>
        </div>
        <div class="ui left floated red horizontal label">9</div>
        <div class="left floated content">
          <p>{{ theme.name }}</p>
        </div>
      </div>
    </div>

    <!--Add button-->
    <button
      [routerLink]="['/theme/', 0, 'edit']"
      class="ui orange basic fluid button"
      >Agregar Tema
    </button>
  </div>
</div>
