
<div class="ui center aligned basic grid">
  <div class="ui five wide column">
    <div class="ui middle aligned divided relaxed list">
      <div *ngFor="let theme of themesArray" class="item">
        <div class="right floated content">

          <!--Delete icon-->
          <a
            id="a-delete"
            (click)="onDelete(theme)"
          >
            <i  class="trash alternate outline large orange icon"></i>
          </a>

          <!--Edit icon-->
          <a
            id="a-edit"
            [routerLink]="['/theme/', theme.id, 'edit']"
            [queryParams]="{name: theme.name}"
          >
            <i  class="edit outline large orange icon"></i>
          </a>

          <!--Start icon-->
          <a
            id="a-start"
            [routerLink]="['/card/', theme.id]"
          >
            <i  class="chevron right large orange icon"></i>
          </a>

        </div>
        <div class="ui left floated red horizontal label">{{ theme.cards }}</div>
        <div class="left floated content">
          <p>{{ theme.name }}</p>
        </div>
      </div>
    </div>

    <!--Add button-->
    <button
      [routerLink]="['/theme/', 0, 'edit']"
      class="ui orange basic fluid button"

      >Agregar Tema
    </button>
  </div>
</div>
