
<div class="ui center aligned grid container">
  <div id="column" class="ui five wide column">

    <div id="card" class="ui card">
      <div class="content">
        <div *ngIf="card" class="description">
          <p>{{ frontSide ? card.front : card.back }}</p>
        </div>
      </div>
      <div class="extra content">
        <span class="left floated">
          <button
            (click)="flipCard()"
            class="ui tiny button basic orange"
            >
            {{ frontSide ? 'Ver Dorso' : 'Ver Frente' }}
          </button>
        </span>
        <span class="right floated">
          <a (click)="nextCard()">
            <i class="chevron circle right big orange icon"></i>
          </a>
        </span>
      </div>
    </div>

  </div>
</div>

